# Spring Configure
spring:
  servlet:
      multipart:
        max-file-size: 10GB
        max-request-size: 10GB
  nas:
    path:   /Users/taewoohan/WorkFolder/test/
    url:    https://files.ceragem.com/crm/
  jwt:
    secret: 1qaz@WSX
  datasource:
    # Pool
    hikari:
      connection-timeout: 60000
      maximum-pool-size: 3
    # Inmemory DB
    log-driver-class-name: oracle.jdbc.OracleDriver
    log-url: jdbc:oracle:thin:@s3.moara.org:6022/XE
    log-username: newVoc
    log-password: newVoc
    driver-class-name: oracle.jdbc.OracleDriver
    url: jdbc:oracle:thin:@s3.moara.org:6022/XE
    username: newVoc
    password: newVoc
#    version 1 db
#    log-url: jdbc:oracle:thin:@s3.moara.org:6022/XE
#    log-username: VOCsample
#    log-password: VOCsample
#    url: jdbc:oracle:thin:@s3.moara.org:6022/XE
#    username: VOCsample
#    password: VOCsample

      
      
  jade:
    token-url: https://cerahr.ceragem.com:9950/restful/getToken
    rest-url: https://cerahr.ceragem.com:9950/restful
    ceragem: 2011040
    ceragem-cns: 2011041
    p1-param: REFwWALk0KnxM8S55r5wAA==
    org-param: ZjH2yGNkSXC63TMeuSX5Hw==
    hr-param: 438MVz40Ca2tE2C+CR1RDQ== 
  sso:
  #https://ceragem.ncpworkplace.com/authn/oauthLogin?response_type=code&client_id=zEgB3stWau126Qf9SWHf&redirect_uri=https://cerahr.ceragem.com:9950/authNaver/oauth2callback
    auth-url: https://ceragem.ncpworkplace.com/authn/oauthLogin
    token-url: https://ceragem.ncpworkplace.com/authn/accessToken
    profile-url: https://ceragem.ncpworkplace.com/authn/userProfile
    logout-url: https://ceragem.ncpworkplace.com/authn/logoutProcess
    callback-url: https://localhost:8081/login/oauth
    client-id: zEgB3stWau126Qf9SWHf
    client-secret: asdfjalsdjflajsdfljalsdfjlajsdflj
    
# Log
logging:
  #  file: logs/application.log
  config: classpath:logback-local.xml
  level:
    com.wigo: DEBUG
    org.springframework.web: INFO
    
server:
  port: 8081
